/* Body Styling */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }

  /* Profile Image */
  
  .profile-pic {
    margin: 0 auto;
    border: solid 8px antiquewhite;
    border-radius: 50%;
    width: 360px;
    height: 360px;
    object-fit: cover;
  }
  
  .profile-sm {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .card {
    box-shadow: 1px 1px 8px 2px #000000!important;
  }

  .social li {
    list-style-type: none;
    display: inline;
    padding-right: 1rem;
  }

  .social li a:hover {
    color: #C20024;
  }
  
  .social li a {
    color: antiquewhite;
  }