/* Body Styling */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(
      45deg,
      rgb(30, 6, 245),
      rgba(0, 110, 255, 0.777)
    ); */
    color: black;
  }
  
  /* Heading */
  
  .head-title {
    padding: 0 1rem;
    font-weight: 900;
  }
  
  /* Nav Links Styling */
  
  /* .nav-link:hover {
    transform: scale(1.02);
  } */

  #About {
    background-image: linear-gradient(
      45deg,
      rgb(30, 6, 245),
      rgba(0, 110, 255, 0.777)
    );
  }
  /* Profile Image */
  
  img {
    opacity: 92%;
  }
  
  .profile-pic {
    margin: 0 auto;
    border: solid 8px antiquewhite;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  
  /* Work Section */
  
  .bg-image {
    /* height: 60vh; */
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 80%; */
  }
  
  #Work {
    /* box-shadow: 0px -10px 20px -10px #191970; */
    background-color: antiquewhite;
    /* background-image: linear-gradient(
      45deg,
      rgb(0, 110, 255, 0.777),
      rgba(30, 6, 245, 0.777)
    ); */
  }
  .card {
    box-shadow: 1px 1px 8px 2px #000000!important;
    height: 17vh;
    width: auto;
    /* background-color: lightskyblue!important; */
  }

.profile-sm {
  position: absolute;
  left: 0;
  bottom: 0;
}
  .col a {
    /* text-decoration: none; */
  }

  #Resume {
    background-image: linear-gradient(
      45deg,
      rgb(30, 6, 245),
      rgba(0, 110, 255, 0.777)
    );
  }

  /* Contact Section */
  
  #Contact {
    /* background-image: linear-gradient(
      45deg,
      rgb(30, 6, 245, 0.777),
      rgba(0, 110, 255, 0.777)
    ); */
    background-color: antiquewhite;
    /* box-shadow: 0px -10px 20px -10px #191970; */
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social li {
    list-style-type: none;
    display: inline;
    padding-right: 1rem;
    font-size: 110%;
  }

  .social li a:hover {
    color: black;
  }
  
  .social li a {
    color: blue;
    text-decoration: none;
  }
  
  /* Footer */
  
  #footer {
    background-image: linear-gradient(
      45deg,
      rgb(30, 6, 245),
      rgba(0, 110, 255, 0.777)
    );
    /* background-image: linear-gradient(
      45deg,
      rgba(255, 0, 0, 0.856),
      rgba(255, 251, 0, 0.677)
    ); */
    /* box-shadow: 0px -10px 20px -10px midnightblue; */
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
  }
  
  /* Responsiveness is built-in using Bootstrap components like container class, col, etc. */